In [10]:
import pandas as pd

In [11]:
plays = [
    ("UserA", "Song1"),
    ("UserB", "Song1"),
    ("UserA", "Song2"),
    ("UserA", "Song1"),
    ("UserC", "Song3"),
    ("UserB", "Song2"),
    ("UserD", "Song1"),
    ("UserC", "Song1"),
    ("UserD", "Song3"),
]

In [12]:
df = pd.DataFrame(plays, columns=["Usuario", "Canción"]).drop_duplicates()

In [13]:
user_unique_count = df.groupby("Usuario")["Canción"].nunique().reset_index()
user_unique_count.rename(columns={"Canción": "ContarCanciones"}, inplace=True)

In [14]:
song_count = df["Canción"].value_counts().reset_index()
song_count.columns = ["Canción", "VecesEscuchado"]
max_play_count = song_count["VecesEscuchado"].max()
most_popular_songs = song_count[song_count["VecesEscuchado"] == max_play_count]

In [15]:
print("Canciones únicas por usuario:")
display(user_unique_count)

Canciones únicas por usuario:

  Usuario  ContarCanciones
0   UserA                2
1   UserB                2
2   UserC                2
3   UserD                2

In [16]:
print("\nCanciones más populares:")
display(most_popular_songs)

Canciones más populares:

  Canción  VecesEscuchado
0   Song1               4